.skill .progress li h4 {
  font-size: 14px;
  color: #606060;
  font-weight: 700;
  text-transform: uppercase; }

.features .container, .skill .container {
  position: relative; }

.features .container:before, .skill .container:before {
  content: url("../img/keyIcon.png");
  position: absolute;
  right: 558px;
  top: -27px; }

.containerfirst .h2, .works .h2 {
  text-align: center;
  margin: 0 0 45px; }
  .containerfirst .h2 h2:after, .works .h2 h2:after {
    content: url("../img/line_right.png");
    margin: 0 0 0 15px; }
  .containerfirst .h2 h2:before, .works .h2 h2:before {
    content: url("../img/line_left.png");
    margin: 0 15px 0 0; }
  .containerfirst .h2 h2, .works .h2 h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    margin: 0 0 20px; }
    .containerfirst .h2 h2 span, .works .h2 h2 span {
      color: #00a99d; }
  .containerfirst .h2 p, .works .h2 p {
    font-size: 16px;
    font-weight: 500;
    color: #8a8a8a; }

.features .container .h2, .skill .container .h2 {
  text-align: center;
  margin: 0 0 45px; }
  .features .container .h2 h2:after, .skill .container .h2 h2:after {
    content: url("../img/line_right.png");
    margin: 0 0 0 15px; }
  .features .container .h2 h2:before, .skill .container .h2 h2:before {
    content: url("../img/line_left.png");
    margin: 0 15px 0 0; }
  .features .container .h2 h2, .skill .container .h2 h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    margin: 0 0 20px;
    color: #e4e4e4; }
    .features .container .h2 h2 span, .skill .container .h2 h2 span {
      color: #00a99d; }
  .features .container .h2 p, .skill .container .h2 p {
    font-size: 16px;
    font-weight: 500;
    color: #606060; }

body {
  background: #f9f9f9;
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

header {
  height: 100px;
  border-bottom: 1px solid #dedede; }
  header .cont {
    margin: 0 auto;
    height: 100px;
    width: 1170px;
    display: table; }
    header .cont .logo {
      vertical-align: middle;
      display: table-cell;
      width: 170px; }
    header .cont .menu {
      vertical-align: middle;
      display: table-cell;
      width: 1000px;
      text-align: right; }
      header .cont .menu .search {
        color: #00a99d; }
      header .cont .menu .portfolio {
        display: inline-block;
        line-height: 40px;
        background: #00a99d;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        padding: 0 15px;
        color: #e4e4e4; }
      header .cont .menu li {
        display: inline-block;
        margin: 0 0 0 25px; }
        header .cont .menu li a {
          text-decoration: none;
          font-size: 13px;
          font-family: 'Raleway', sans-serif;
          color: #606060;
          font-weight: 800;
          text-transform: uppercase; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 80px 0 0; }

.containerfirst {
  width: 1170px;
  margin: 0 auto;
  padding: 80px 0 0; }

.whywe {
  margin: 0 0 110px; }
  .whywe ul li:nth-child(2) {
    margin: 0 20px; }
    .whywe ul li:nth-child(2) i {
      background: #269086;
      color: #e4e4e4; }
    .whywe ul li:nth-child(2) a {
      border: none;
      background: #269086;
      color: #e4e4e4; }
  .whywe ul li {
    display: inline-block;
    width: 371px;
    text-align: center; }
    .whywe ul li i {
      background: #383838;
      line-height: 100px;
      width: 100px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      color: #e4e4e4;
      font-size: 36px;
      margin: 0 0 30px; }
    .whywe ul li h3 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      margin: 0 0 15px; }
    .whywe ul li p {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 20px;
      color: #8a8a8a; }
    .whywe ul li a {
      display: inline-block;
      line-height: 30px;
      padding: 0 10px;
      border: 1px solid #dedede;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      text-decoration: none;
      color: #8a8a8a; }

.features {
  background-color: #383838; }
  .features .container {
    background-image: url(../img/mockup.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 40px; }
    .features .container .whywhylist {
      margin: 85px 0 0;
      list-style: none; }
      .features .container .whywhylist li:last-child {
        margin: 0px; }
      .features .container .whywhylist li {
        margin: 0 0 60px;
        width: 415px; }
        .features .container .whywhylist li .icon {
          width: 50px;
          float: left;
          height: 75px;
          margin: 0 45px 0 0; }
          .features .container .whywhylist li .icon i {
            font-size: 45px;
            color: #00a99d; }
        .features .container .whywhylist li .hext {
          width: 320px; }
          .features .container .whywhylist li .hext h3 {
            width: 320px;
            font-size: 14px;
            color: #e4e4e4;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 20px; }
          .features .container .whywhylist li .hext p {
            font-size: 14px;
            color: #7a7a7a; }

.whywe2 .container ul {
  list-style: none;
  text-align: center; }
  .whywe2 .container ul li {
    display: inline-block;
    width: 370px;
    margin: 0 0 60px; }
    .whywe2 .container ul li .icon {
      width: 40px;
      float: left;
      height: 100px;
      margin: 0 45px 0 0; }
      .whywe2 .container ul li .icon .flag {
        margin: -3px 0 0;
        display: block;
        height: 20px;
        background-color: #00a99d;
        position: relative;
        z-index: -2; }
      .whywe2 .container ul li .icon .flag:after {
        content: "";
        display: block;
        height: 29px;
        width: 29px;
        position: absolute;
        background-color: #00a99d;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        bottom: -15px;
        left: 5px;
        z-index: -3; }
      .whywe2 .container ul li .icon i {
        text-align: center;
        width: 100%;
        display: inline-block;
        font-size: 20px;
        color: #e4e4e4;
        padding: 15px  0 0;
        background-color: #404040;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        position: relative;
        z-index: 4; }
      .whywe2 .container ul li .icon i:after {
        content: "";
        display: block;
        height: 29px;
        width: 29px;
        position: absolute;
        background-color: #404040;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        bottom: -14px;
        left: 5px;
        z-index: -1; }
    .whywe2 .container ul li .text {
      text-align: left; }
      .whywe2 .container ul li .text h3 {
        font-size: 14px;
        color: #606060;
        font-weight: 700;
        text-transform: uppercase; }
      .whywe2 .container ul li .text span {
        display: inline-block;
        color: #aaaaaa;
        font-size: 12px;
        margin-bottom: 15px; }
      .whywe2 .container ul li .text p {
        font-size: 14px;
        color: #7a7a7a; }

.skill {
  background-color: #383838; }
  .skill .container:before {
    content: url("../img/bag.png"); }
  .skill .progress {
    text-align: center; }
    .skill .progress li {
      width: 170px;
      display: inline-block;
      padding: 0 0 70px; }
      .skill .progress li p {
        display: inline-block;
        font-size: 30px;
        color: #e4e4e4;
        text-transform: uppercase;
        width: 120px;
        height: 120px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 3px solid #00a99d;
        line-height: 120px;
        margin: 0 0 20px; }
        .skill .progress li p span {
          font-size: 16px; }
